<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="solicitudes-section">
    <h2>Solicitudes</h2>
    <div class="stats-container">
      <div class="stat-item">
        <div class="circle-progress tours">
          <div class="number">2</div>
          <div class="label">Tours</div>
        </div>
      </div>

      <div class="stat-item">
        <div class="circle-progress actividades">
          <div class="number">5</div>
          <div class="label">Actividades</div>
        </div>
      </div>

      <div class="stat-item">
        <div class="circle-progress comidas">
          <div class="number">10</div>
          <div class="label">Pedidos</div>
        </div>
      </div>
    </div>
  </div>

  <div class="resumen-section">
    <h2>Resumen</h2>
    <ion-list>
      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Tours Cordillera</h3>
          <p>$49.990</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Actividad Sauna</h3>
          <p>$15.000</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        <ion-label>
          <h3>Langosta a la mantequilla</h3>
          <p>$70.000</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>